<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div class="box">
        {{name}}
        <!-- <img v-bind:src="img" alt="" style="width: 100%"> -->
        <img :src="img" alt="" style=" height: 600px">
        <!-- <button @click="clickHandler">换图片</button> -->
        <button v-on:click="clickHandler">换图片</button>
        <span>{{count}}</span>
        <button @click="clickOne">+1</button>
        <input type="text" v-model="text">
        <span>{{text}}</span>
        <!-- 循环 -->
        <div v-for="item in arr">{{item.name}},{{item.price}}</div>
        <!-- 条件 -->
        <div v-if="flag==0">{{flag}}</div>
        <div v-else="flag==1">{{flag}}</div>
        <div :style="{width:'100px',height:'100px',background:color?'pink':'red'}"></div>
    </div>
</body>
<script>
    new Vue({
        el: ".box",
        data: {
            name: "🐖成全",
            img: "https://api.ixiaowai.cn/mcapi/mcapi.php",
            count: 0,
            text: "🐖💩",
            arr: [{
                name: "1",
                price: "￥1"
            }, {
                name: "2",
                price: "￥2"
            }, {
                name: "3",
                price: "￥3"
            }, ],
            flag: 1,

        },
        methods: {
            clickHandler() {
                location.reload();
            },
            clickOne() {
                this.count++;
            }
        },



    })
</script>

</html>